{% extends '::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/coffeeclosure/js/closure/goog/base.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheetsXXXXX %}
    {{ parent() }}
	{% if app.environment=="dev" %}

	{% else %}

	{% endif %}

{% endblock %}
